#
# Standard configuration
#
baseURL                = "https://tech.eus/"
copyright              = "Copyright © 2024 EuskadiTech™"
defaultContentLanguage = "es"
enableEmoji            = false
enableGitInfo          = true
metaDataFormat         = "yaml"
publishDir             = "public"
title                  = "EuskadiTech™"
theme                  = "shadocs"
# themesdir              = "../.."

[params.author]
  name = "Naiel V"

[module]
  [module.hugoVersion]
    extended = true
    min = '0.112.0'
    max = ''
  [[module.mounts]]
    source = 'static'
    target = 'static'
  [[module.mounts]]
    source = 'assets'
    target = 'static/assets'
  [[module.mounts]]
    source = 'asyncapi'
    target = 'static/asyncapi'
  [[module.mounts]]
    source = 'openapi'
    target = 'static/openapi'
  [[module.mounts]]
    source = 'jsoneditor'
    target = 'static/jsoneditor'


[taxonomies]
  category = "categories"
  tag = "tags"

[outputs]
  home = ["HTML", "JSON"]

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.tableOfContents]
    ordered    = false
    startLevel = 1
    endLevel   = 6
  [markup.goldmark.renderer]
    unsafe = false

[Languages]
  [Languages.es]
    contentDir   = "content/spanish"
    title        = "EuskadiTech™"
    weight       = 1
    languageName = "Español"

  [Languages.en]
    contentDir   = "content/english"
    title        = "EuskadiTech™"
    weight       = 2
    languageName = "English"


#
# Specific configuration
#
[params]
  logo                    = "assets/logos/long nobg color.svg"
  logoTouch               = "assets/logos/nobg color.svg"
  image404                = "images/404.gif"
  favicon                 = "assets/logos/nobg color.svg"
  faviconmd               = "![Favicon](/assets/logos/nobg color.svg)"
  # homeLayout              = "onboarding"
  siteContentOrder        = "weight"
  # toc                     = true
  # globalBanner            = true
  currentVersion          = "latest"
  latestVersionUrl        = "https://tech.eus/"
  # enforceRefrelLinks      = true
  # navbarPrintEntry        = false
  # navbarQRCodeEntry       = false
  # navbarSchortcutsEntry   = false
  # navbarInfo              = false
  # [params.navbar.shortcuts]
  #   [params.navbar.shortcuts.example]
  #     keys     = ["Shift","1"]
  #     function = "scExample"
  [[params.navbar.versions]]
    name = 'latest'
    url  = 'https://tech.eus/'
  [params.taxonomies]
    [params.taxonomies.categories]
      icon = "fa-solid fa-table-cells"
    [params.taxonomies.tags]
      icon = "fa-solid fa-tag"
  [params.includes]
    jsModules = [
      "js/jsoneditor.js",
      "js/shortcuts.js"
    ]
    js        = []
    css       = [
      "css/shortcuts.css"
    ]
    sass      = [
      "sass/custom/example.sass"
    ]
  [params.versions]
    hugo_min         = "[0.112.0](https://github.com/gohugoio/hugo/releases/tag/v0.112.0)"
    bulma            = "[0.9.4](https://github.com/jgthms/bulma/releases/tag/0.9.4)"
